.App {
  text-align: center;
}
body{
  background-image: url("./images/bg.jpg");
  background-size: cover;
}
.navSec ul li {
  padding: 0px 1.5rem;
  list-style: none;
  font-weight: 300;
}
.socialIcon a {
  color: #953b3e;
}
.socialIcon {
  display: flex;
  justify-content: space-around;
  font-size: 18px;
}
.navSec ul li a:hover {
  color: #953b3e;
  font-weight: 400;
}
.navSec{
  height:78px;
}
.pictureMain img {
  width: 440px;
  box-shadow: rgb(0 0 0 / 19%) 7.4px 6.4px 14.2px;  
  
}
.headerHeading p {
  font-size: 13px;
  text-align: justify;
  width: 70%;
}
.headerHeading {
  width: 770px;
  padding-left: 6rem;
  border-left: solid 14px hsl(353deg 55% 39%);
}
.headerHeading h1 span {
  font-weight: 900;
  color: #953b3e;
}
.headerHeading h1 {
  font-weight: 400;
}
.logo img {
  width: 100%;
}
.navSec ul li a {
  text-decoration: none;
  color: #000;
}

/* about */
.aboutDetails h2 span {
  font-weight: 500;
  color: #992c39;
}
.aboutDetails h2 {
  font-weight: 300;
  font-size: 27px;
}
.aboutDetails p {
  font-size: 18px;
  text-align: justify;
  font-weight: 300;
  color: #535353;
  line-height: 32px;
}
h1.pageHead {
  font-size: 123px;
  -webkit-text-stroke-width: 1px;
  color: #ffffff00;
  text-align: left;
  -webkit-text-stroke-color: #9e0533de;
}
.mydetails ul li {
  font-size: 19px;
  font-weight: 500;
  line-height: 27px;
  padding: 18px 0px;
  list-style: none;
  border-bottom: dotted 1px #9e0533;
}
.mydetails ul li span {
  font-weight: 300;
}
.mydetails ul li a {
  color: hwb(342deg 2% 38%);
  text-decoration: none;
}


/* pro 2 */
.progress {
	background-color: #d8d8d8;
	border-radius: 20px;
	position: relative;
	margin: 15px 0;
	height: 30px;
	width: 300px;
}

.progress-done {
	background: linear-gradient(to left, #F2709C, #FF9472);
	box-shadow: 0 3px 3px -5px #F2709C, 0 2px 5px #F2709C;
	border-radius: 20px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 0;
	opacity: 0;
	transition: 1s ease 0.3s;
}
/* probar */


.progressLabel {
  
  color: #9c313c;
  font-size: 18px;
  font-weight: 300;
}

.wrapper {
  border: 2px solid  #9c313c;
    border-radius: 25px;
    
    
}

.container-pro {
  background-color: #ffffff00;
}

.barCompleted {
background: linear-gradient(90deg, rgba(140,12,26,1) 0%, rgba(185,81,92,1) 35%, rgba(209,150,157,1) 100%);
  width: 70%;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-radius: 21px;
}

.label-pro {
  font-size: 20px;
  color: green;
}
/* resume icn */

.skill-icon-box .skill-icn-inrBx {
  font-size: 6rem;
  width: 50%;
  text-align: center;
}
.skill-icon-box {
  display: flex;
  justify-content: space-between;
}
.skill-icon-box i{
  color: #992b401c;
}
.skill-icn-One , .skill-icn-Three {
  border-right: double 3px #992b401c;
}

.skill-icn-Four , .skill-icn-Three {
  border-top: double 3px #992b401c;
}
button.rsum-dwnld-btn {
  position: absolute;
  top: 50%;
  border: solid 1px #9c313c ;
  color: #992c39;
  left: 50%;
  background: #ede6d696;
  transform: translate(-50%, -50%);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

/* contacts */

h2.cntc-frm-hding span {
  color: #992c39;
}

.contc-frm-main-bg {
  background-size: cover;
  -webkit-backdrop-filter: saturate(180%) blur(5px);
  backdrop-filter: saturate(3%) blur(3.1px);
  padding: 22px;
  position: relative;
  border: solid 2px #963C3F;
  border-radius: 13px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  background-image: url(http://localhost:3000/static/media/newCOnBg.fe070deb421ecb23baaa.jpg);
}
.contc-frm-main-bg form input, .contc-frm-main-bg form textarea {
  width: 100%;
  padding: 10px 8px;
  outline: 0;
  margin: 5px 0px;
  color: #fff;
  background: #78565670;
  border: solid 1px #b0595f;
  border-radius: 10px;
}
.nm-ml-grp input {
  width: 49% !important;
}
.icon-bx-vrp a{
  color: #873b3b !important;
}


.icon-bx-vrp {
  background: #db9d9f;
  font-size: 47px;
  border-radius: 80px;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.contc-frm-main-bg::before {
  content: "";
  position: absolute;
  height: 100%;
  -webkit-backdrop-filter: saturate(180%) blur(5px);
  backdrop-filter: saturate(180%) blur(2px);
  width: 100%;
  left: 0;
  top: 0;
  background: #ffffff7a;
  border-radius: 10px;
  z-index: -1;
}
button.talk-frm-btn {
  background: #963C3F;
  padding: 8px 13px;
  font-size: 17px;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-radius: 8px;
  border: 0;
}

/* Loader CSS */
.custom-loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.custom-loader::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(4px);
  z-index: -1;
}

.cube {
  width: 50px;
  height: 50px;
  position: relative;
  transform-style: preserve-3d;
  animation: spin 2s infinite linear;
}

.face {
  width: 50px;
  height: 50px;
  position: absolute;
  opacity: 0.8;
}

.face1 {
  background-color: #953b3e;
  transform: translateZ(25px);
}

.face2 {
  background-color: #a8494c;
  transform: rotateY(90deg) translateZ(25px);
}

.face3 {
  background-color: #7d3134;
  transform: rotateY(180deg) translateZ(25px);
}

.face4 {
  background-color: #693539;
  transform: rotateY(-90deg) translateZ(25px);
}

.face5 {
  background-color: #a04649;
  transform: rotateX(90deg) translateZ(25px);
}

.face6 {
  background-color: #953b3e;
  transform: rotateX(-90deg) translateZ(25px);
}

@keyframes spin {
  0% {
    transform: rotateX(0) rotateY(0) rotateZ(0);
  }
  100% {
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  }
}


/* Loader Css End */

.icon-bx-name p {
  color: #561c1c;
  font-size: 20px;
  font-weight: 300;
}
.icon-bx-name {
  width: 60%;
}














@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
